
.textBlock-desc__title::after,
.textBlock-images-img::after,
.map-main-baloon__dot,
.sea-title::before,
.swim__title::before,
.active__item-title::before,
.carousel-slider-item:after,
.carousel-slider__next,
.carousel-slider__prev,
.gallery-left-desc::after {
  background-color: #f22b3a !important;
}
.blue-stripe {
  border-left: 4px solid #f22b3a !important;
}

.textBlock-wrap {
    flex-direction: row-reverse;
}

.textBlock-images {
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
}

.circle h3 {
  position: absolute;
  top: 31px;
  left: 25px;
  color: #a8a8a8;
  text-align: center;
  width: 50px;
}

.circle-group {
  height: 300px;
  display: flex;
}

.circle.active h3 {
  color: #fff;
}

.circle {
  width: 100px;
  height: 100px;
  background: #fff;
    border-radius: 50%;
    border: 1px solid #cccccc;
    margin: 0 auto;
    position: relative;
}

.circle.active {
    background: #f22b3a;
}

.btn-red {
    background-color: #f22b3a;
    color: #fff;
    max-width: 280px;
    width: 100%;
}

.btn-red:hover {
    color: #fff;
}

#sport .hero h1 span {
    font-size: 51px;
    color: #171717;
    font-weight: 600;
    line-height: 1;
    text-transform: none;
}

#sport .hero h1 {
    padding-top: 270px;
    font-size: 45px;
    color: #171717;
    text-transform: none;
    font-weight: 400;
    line-height: 1;
}

.rectangle {
    height: 250px;
    background-image: -moz-linear-gradient(46deg, rgb(79, 136, 205) 0%, rgb(35, 62, 95) 100%);
    background-image: -webkit-linear-gradient(46deg, rgb(79, 136, 205) 0%, rgb(35, 62, 95) 100%);
    background-image: -ms-linear-gradient(46deg, rgb(79, 136, 205) 0%, rgb(35, 62, 95) 100%);
    box-shadow: 0px 0px 27px 0px rgba(23, 23, 23, 0.92);
}

.rectangle__title {
    text-align: center;
    font-size: 36px;
    line-height: 1;
    color:#fff;
    padding: 30px 0 0;
}

.children-camp-about {
  background-color: #fff;
}

.textBlock-images img {
  box-shadow: none;
}

.textBlock_lager .textBlock-images .textBlock-images-img:first-child:after {
  height:0;
  width: 0;
}

.rectangle__time-desc {
    font-size: 25px;
    font-weight: 400;
}

.rectangle__time {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    line-height: 1;
    color:#fff;
    padding: 30px 0;
    font-weight: 900;
}

.grey {
    padding: 40px 0;
}

.circle.active::before {
  content: "";
  border-radius: 50%;
  color: #1e2953;
  border: 1px solid #f22b3a;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  margin: -10px -10px;
}

.circle-group__title {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  color: #a8a8a8;
}

.circle-group__title.active {
  color: #171717;
}

.circle-group__arrow-down {
  display: none;
  /* height: 0;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; */
}

.circle-group__description {
  display: none;
  /* height: 0;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; */
}

.circle-group__arrow-down.active {
  display: flex;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin: 15px auto;
  opacity: 1;
  border-top: 20px solid #f22b3a;
}

.circle-group__description.active {
  display: block;
  height: auto;
  background-color: #fff;
  position: absolute;
  width: 285px;
  text-align: justify;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  opacity: 1;
  overflow: visible;
  z-index: 100;
}

.circle-group__short {
  max-width: 100px;
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .btn-red {
        margin:0 auto;
    }

    .textBlock-wrap {
        padding-bottom: 20px;
    }

    .circle {
        width: 70px;
        height: 70px;
    }

    .circle.active h3 {
        font-size: 20px;
    top: 22px;
    left: 9px;
  }
  .circle.active::before {
    margin: -7px -7px;
  }
  .circle h3 {
    top: 21px;
    left: 9px;
    font-size: 24px;
  }
  .circle-group__short {
    font-size: 11px;
  }
  .circle-group__description.active {
    font-size: 11px;
    left:30px;
  }
  .circle-group__title {
    font-size: 16px;
    margin: 10px 0;
  }
  .circle-group .owl-nav .owl-next {
    position: absolute;
    right: 0;
    top: 20%;
  }
  .circle-group .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    top: 20%;
  }
  .circle-group .owl-stage-outer {
    overflow: visible;
  }

  #sport .hero h1 {
      text-align: center;
      padding-top: 70px;
      color:#fff;
  }
  #sport .hero h1 span {
    font-size: inherit;
    color:inherit;
  }
  .hero .about-list {
      width:90%;
  }
  .rectangle__time {
      font-size: 40px;
  }
  .rectangle__time-desc {
      font-size: 14px;
  }
  .textBlock-desc__text {
      height:auto;
  }
  .textBlock_lager .textBlock-images .textBlock-images-img:last-child {
      display: flex;
  }
  #second-img {
      display: none;
  }
}

@media screen and (max-width: 600px) {
  .circle-group__short {
    max-width: 100%;
  }
}
