.gallery__popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: zoom-out;
}
.gallery__popup.show {
    display: block;
}
.gallery__popup__img {
    display: block;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    cursor: zoom-out;
}

.gallery-responsive {
    margin: 0 0px;
    display: flex;
    max-width: 100vw;
    padding: 0 5px;
}

.gallery-responsive a {
    flex: 1 1 auto;
    margin: 0 5px;
}

.gallery-responsive a:first-child {
    margin-left: 0;
}

.gallery-responsive a:last-child {
    margin-right: 0;
}

/*.gallery-responsive a:nth-child(2n) {*/
/*    position: relative;*/
/*    bottom: 20px;*/
/*}*/

.gallery-responsive__img {
    object-position: top;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 18px;
    transition: all 200ms;
    cursor: zoom-in;
}

@media screen and (min-width: 768px){
    .gallery-responsive__img:hover {
        transform: scale(1.06);
        filter: brightness(120%);
    }
}

.gallery-responsive.owl-carousel {
    padding: 0 20px;
    display: flex;
}

.gallery-responsive.owl-carousel .gallery-responsive__img {
    object-fit: cover;
    object-position: top;
    padding: 5px;
    height: 100px;
    box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.24);
}

.gallery-responsive .owl-nav {
    padding: 0 17px;
    top: 37%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    display: flex;
    left: 50%;
    width: calc(100% + 30px);
    justify-content: space-between;
}

.gallery-responsive .owl-nav span {
    font-size: 48px;
    font-stretch: ultra-expanded;
}


.gallery-responsive-up {
    margin: 0 0px;
    display: flex;
    max-width: 100vw;
    padding: 0 5px;
}

.gallery-responsive-up a {
    flex: 1 1 auto;
    margin: 0 5px;
}

.gallery-responsive-up a:first-child {
    margin-left: 0;
}

.gallery-responsive-up a:last-child {
    margin-right: 0;
}

/*.gallery-responsive a:nth-child(2n) {*/
/*    position: relative;*/
/*    bottom: 20px;*/
/*}*/

.gallery-responsive-up__img {
    object-position: top;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 18px;
    transition: all 200ms;
    cursor: zoom-in;
}

@media screen and (min-width: 768px){
    .gallery-responsive-up__img:hover {
        transform: scale(1.06);
        filter: brightness(120%);
    }
}

.gallery-responsive-up.owl-carousel {
    padding: 0 20px;
    display: flex;
}

.gallery-responsive-up.owl-carousel .gallery-responsive__img {
    object-fit: cover;
    object-position: top;
    padding: 5px;
    height: 100px;
    box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.24);
}

.gallery-responsive-up .owl-nav {
    padding: 0 17px;
    top: 37%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    display: flex;
    left: 50%;
    width: calc(100% + 30px);
    justify-content: space-between;
}

.gallery-responsive-up .owl-nav span {
    font-size: 48px;
    font-stretch: ultra-expanded;
}
