.textBlock-desc__title::after,
.textBlock-images-img::after,
.map-main-baloon__dot,
.sea-title::before,
.swim__title::before,
.active__item-title::before,
.carousel-slider-item:after,
.carousel-slider__next,
.carousel-slider__prev,
.autumn .children-supa .supaSlider-insideSliderBlock .supaSlider-insideSliderBlock__next,
.autumn .children-supa .supaSlider-insideSliderBlock .supaSlider-insideSliderBlock__prev,
.autumn .children-supa .children-supa__btn,
.gallery-left-desc::after {
    background-color: #338c6f !important;
}
.blue-stripe {
    border-left: 4px solid #338c6f !important;
}

.camp-tabs {
    border:1px solid transparent;
    color:#171717;
}

.camp-tabs:hover {
    border:1px solid #e7e9ea;
    color:#171717;
}

.tarifes-row-item-check {
    z-index: -1;
}

.tarifes-row-item__title {
    z-index: -1;
}

.tarifes-row-item_disabled {
    z-index: -1;
}
#winter-tarifes-mw {
    overflow: visible;
}

.circle-group {
    height: 300px;
    display: flex;
}

/* .form-group:first-child {
  margin:0;
} */

/* .circle-group :last-child {
  margin: 0;
} */

.circle h3 {
    position: absolute;
    top: 31px;
    left: 25px;
    color: #a8a8a8;
    text-align: center;
    width: 50px;
}

.circle.active h3 {
    color: #fff;
}

.circle {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #cccccc;
    margin: 0 auto;
    position: relative;
}

.circle.active {
    background: #338c6f;
}

.circle.active::before {
    content: "";
    border-radius: 50%;
    color: #338c6f;
    border: 1px solid #338c6f;
    width: 120%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    margin: -10px -10px;
}

.circle-group__title {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: #a8a8a8;
}

.circle-group__title.active {
    color: #171717;
}

.circle-group__arrow-down {
    display: none;
    /* height: 0;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; */
}

.circle-group__description {
    display: none;
    /* height: 0;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; */
}

.circle-group__arrow-down.active {
    display: flex;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 15px auto;
    opacity: 1;
    border-top: 20px solid #338c6f;
}

.circle-group__description.active {
    display: block;
    height: auto;
    background-color: #fff;
    position: absolute;
    width: 285px;
    text-align: justify;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    opacity: 1;
    overflow: visible;
    z-index: 100;
}

.circle-group__short {
    max-width: 100px;
    text-align: center;
    padding-top: 10px;
}

.supaSlider .owl-nav,
.sea-features-carousel .owl-nav,
.health-center-carousel .owl-nav,
.advantages-row .owl-nav,
.team-wrap .owl-nav,
.comand .owl-nav,
.documents-slider-mobile .owl-nav {
    padding: 0 13px;
    top: 45%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    display: flex;
    left: 50%;
    width: calc(100% + 30px);
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .camp-tabs {
        font-size: 12px;
    }
    .circle {
        width: 70px;
        height: 70px;
    }

    .circle.active h3 {
        font-size: 20px;
        top: 22px;
        left: 9px;
    }
    .circle.active::before {
        margin: -7px -7px;
    }
    .circle h3 {
        top: 21px;
        left: 9px;
        font-size: 24px;
    }
    .circle-group__short {
        font-size: 11px;
    }
    .circle-group__description.active {
        font-size: 11px;
        left:30px;
    }
    .circle-group__title {
        font-size: 16px;
        margin:10px 0;
    }
    .circle-group .owl-nav .owl-next {
        position: absolute;
        right:0;
        top:20%;
    }
    .circle-group .owl-nav .owl-prev {
        position: absolute;
        left:0;
        top:20%;
    }
    .circle-group .owl-stage-outer {
        overflow: visible;
    }
}

@media screen and (max-width: 600px) {
    .circle-group__short {
        max-width: 100%;
    }
}

/*Отзывы*/
.reviews .supaCard{
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 40px;
}
.reviews .supaCard:before{
    content: '';
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f8f8f8;
}
.reviews .supaCard > span{
    position: absolute;
    font-family: 'Geometria';
    font-weight: 900;
    color: #ffffff;
    font-size: 87px;
    bottom: 0;
    left: 50px;
    text-transform: uppercase;
}
.reviews .supaCard .supaSlider-insideSlider__item{
    height: 260px;
}
.reviews .supaCard .supaSlider-insideSlider__item:before,
.reviews .supaCard .supaSlider-insideSlider__item:after{
    display: none;
}
.reviews .supaCard .children-supa__suptitle,
.reviews .supaCard .children-supa__text{
    color: #474747;
    font-size: 14px;
    line-height: 18px;
}
.reviews .supaCard .children-supa__suptitle{
    font-weight: bold;
    margin-bottom: 20px;
}
.reviews .supaCard .children-supa__text{
    font-weight: normal;
}
.reviews .supaSlider-insideSlider_chainHead .slick-sprev{
    transform: translate3d(-450px, 0, -40px) !important;
}
.reviews .supaSlider-insideSlider_chainHead .slick-snext {
    transform: translate3d(450px, 0, -40px) !important;
}
.reviews-form-content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: 510px;
    margin: 60px auto 100px;
}
.reviews-form-content textarea{
    border-radius: 5px;
    box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.08);
    border: none;
    resize: none;
    padding: 20px 15px;
    height: 240px;
}
.reviews-form-content input{
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 21px 0px rgba(0, 0, 0, 0.08);
    height: 50px;
    padding: 0 15px;
    border: none;
}
.reviews-form-content textarea:focus{
    outline: none;
}
.reviews-form-content textarea,
.reviews-form-content textarea::placeholder,
.reviews-form-content input,
.reviews-form-content input::placeholder{
    font-size: 18px;
}
.reviews-form-content button{
    margin: 25px auto 0;
    background-color: rgb(65, 113, 175);
    box-shadow: 0px 0px 16px 0px rgba(23, 23, 23, 0.48);
    height: 50px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #fff;
    width: 310px;
}

@media screen and (max-width: 767px) {
    .reviews-form-content{
        margin-top: 30px;
        width: 100%;
        padding: 30px 15%;
        background: #e8e8e8;
        max-width: none;
        margin-bottom: 0;
    }
    .reviews-form-content textarea,
    .reviews-form-content textarea::placeholder,
    .reviews-form-content input,
    .reviews-form-content input::placeholder{
        font-size: 12px;
    }
    .reviews-form-content input {
        margin-top: 15px;
    }
    .reviews-form-content button {
        width: 100%;
        margin: 15px auto 0;
    }
    .supaCard .supaSlider-insideSlider__item-content {
        border-radius: 0 !important;

    }
    .reviews .supaCard .children-supa__suptitle, .reviews .supaCard .children-supa__text {
        font-size: 12px;
    }
    .reviews .supaCard .children-supa__suptitle,
    .reviews .supaCard .children-supa__text{
        margin-bottom: 10px;
    }
    .reviews .supaCard > span {
        display: none;
    }
    .reviews .supaCard:before {
        display: none;
    }
    .reviews .supaCard {
        padding-bottom: 20px;
        margin-bottom: 0;
    }
}
/*Отзывы Конец*/
