.textBlock-desc__title::after,
.textBlock-images-img::after,
.map-main-baloon__dot,
.sea-title::before,
.swim__title::before,
.active__item-title::before,
.carousel-slider-item:after,
.carousel-slider__next,
.carousel-slider__prev,
.gallery-left-desc::after {
  background-color: #1e2953 !important;
}
.blue-stripe {
  border-left: 4px solid #1e2953 !important;
}

.tarifes-row-item-check {
  z-index: -1;
}

.tarifes-row-item__title {
  z-index: -1;
}

.tarifes-row-item_disabled {
  z-index: -1;
}
#winter-tarifes-mw {
  overflow: visible;
}

.circle-group {
  height: 300px;
  display: flex;
}

/* .form-group:first-child {
  margin:0;
} */

/* .circle-group :last-child {
  margin: 0;
} */

.circle h3 {
  position: absolute;
  top: 31px;
  left: 25px;
  color: #a8a8a8;
  text-align: center;
  width: 50px;
}

.circle.active h3 {
  color: #fff;
}

.circle {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #cccccc;
  margin: 0 auto;
  position: relative;
}

.circle.active {
  background: #1e2953;
}

.circle.active::before {
  content: "";
  border-radius: 50%;
  color: #1e2953;
  border: 1px solid #1e2953;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  margin: -10px -10px;
}

.circle-group__title {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
  color: #a8a8a8;
}

.circle-group__title.active {
  color: #171717;
}

.circle-group__arrow-down {
  display: none;
  /* height: 0;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; */
}

.circle-group__description {
  display: none;
  /* height: 0;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; */
}

.circle-group__arrow-down.active {
  display: flex;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin: 15px auto;
  opacity: 1;
  border-top: 20px solid #1e2953;
}

.circle-group__description.active {
  display: block;
  height: auto;
  background-color: #fff;
  position: absolute;
  width: 285px;
  text-align: justify;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  opacity: 1;
  overflow: visible;
  z-index: 100;
}

.circle-group__short {
  max-width: 100px;
  text-align: center;
  padding-top: 10px;
}

.supaSlider .owl-nav,
.sea-features-carousel .owl-nav,
.health-center-carousel .owl-nav,
.advantages-row .owl-nav,
.team-wrap .owl-nav,
.comand .owl-nav,
.documents-slider-mobile .owl-nav {
  padding: 0 13px;
  top: 45%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  display: flex;
  left: 50%;
  width: calc(100% + 30px);
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .circle {
    width: 70px;
    height: 70px;
  }

  .circle.active h3 {
    font-size: 20px;
    top: 22px;
    left: 9px;
  }
  .circle.active::before {
    margin: -7px -7px;
  }
  .circle h3 {
    top: 21px;
    left: 9px;
    font-size: 24px;
  }
  .circle-group__short {
    font-size: 11px;
  }
  .circle-group__description.active {
    font-size: 11px;
    left:30px;
  }
  .circle-group__title {
    font-size: 16px;
    margin:10px 0;
  }
  .circle-group .owl-nav .owl-next {
    position: absolute;
    right:0;
    top:20%;
  }
  .circle-group .owl-nav .owl-prev {
    position: absolute;
    left:0;
    top:20%;
  }
  .circle-group .owl-stage-outer {
    overflow: visible;
  }
}

@media screen and (max-width: 600px) {
  .circle-group__short {
    max-width: 100%;
  }
}
